* {
  text-align: center;
  font-family: Helvetica;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a {
  color: white;
  font-size: 18px;
}

.white {
  color: white;
}

.hero {
  background-image: url("../images/the-flatiron-building.png");
}

.strip {
  background-color: dimgray;
}

.copyright {
  font-size: 11px;
}

.left {
  text-align: left;
}
